<ul class="menu">
    <li id="teoria" onclick="carregar('teoria.html')" style="text-decoration: underline;">Teoria</li>
    <li id="material" onclick="carregar('material.html')">Material Necessário</li>
    <li id="procedimento" onclick="carregar('procedimento.html')">Procedimento</li>
    <li id="resultados" onclick="carregar('resultados.html');">Resultados</li>
</ul>
<div id="div-teoria" incluir="teoria.html" style="display: initial;"></div>
<div id="div-material" incluir="material.html" style="display: none;"></div>
<div id="div-procedimento" incluir="procedimento.html" style="display: none;"></div>
<div id="div-resultados" incluir="resultados.html" style="display: none;"></div>